.accordion__button{
    background-color: rgba(215, 215, 214, 0) !important;
    color: black;
    font-weight: bold !important;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    box-shadow: 2px 2px 5px rgba(197, 191, 191, 0.389);
    border-radius: 5px;
}