@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.brand-color {
    color: orangered;
}

.brand-bg {
    background-color: orangered;
    color: white;
}

.brand-btn {
    background-color: orangered;
    color: black;
    border: 2px solid orangered;
    border-radius: 25px;
}

.brand-btn:hover {
    background-color: black;
    color: orangered;
    border: 2px solid orangered;
}

.rotate-90 {
    transform: rotate(90deg);
}

.EZDrawer__overlay {
    opacity: 0.20 !important;
}

.contactForm-OverlayShadow {
    box-shadow: 16px 15px 8px -1px rgba(0, 0, 0, 0.14) inset;
    -webkit-box-shadow: 16px 15px 8px -1px rgba(0, 0, 0, 0.14) inset;
    -moz-box-shadow: 16px 15px 8px -1px rgba(0, 0, 0, 0.14) inset;
}

.contactForm-Shadow {
    box-shadow: 16px 15px 8px -1px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 16px 15px 8px -1px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 16px 15px 8px -1px rgba(0, 0, 0, 0.14);
}